xterm*faceName: DejaVu Sans Mono Book
xterm*faceSize: 14
xterm*loginshell: true
xterm*savelines: 65536
xterm*toolBar: off
xterm*geometry: 80x50

! double-click to select URLs
xterm*charClass: 33:48,36-47:48,58-59:48,61:48,63-64:48,95:48,126:48

! right hand side scrollbar
xterm*rightScrollBar: false
xterm*scrollBar: false

! stop output to terminal from jumping down to bottom of scroll again
xterm*scrollTtyOutput: false
! select pastes to the motherfucking clipboard
xterm*selectToClipboard: true


! From https://unix4lyfe.org/xterm/
! DOS-box colours
xterm*foreground: rgb:a8/a8/a8
xterm*background: rgb:00/00/00
xterm*color0: rgb:00/00/00
xterm*color1: rgb:a8/00/00
xterm*color2: rgb:00/a8/00
xterm*color3: rgb:a8/54/00
xterm*color4: rgb:00/00/a8
xterm*color5: rgb:a8/00/a8
xterm*color6: rgb:00/a8/a8
xterm*color7: rgb:a8/a8/a8
xterm*color8: rgb:54/54/54
xterm*color9: rgb:fc/54/54
xterm*color10: rgb:54/fc/54
xterm*color11: rgb:fc/fc/54
xterm*color12: rgb:54/54/fc
xterm*color13: rgb:fc/54/fc
xterm*color14: rgb:54/fc/fc
xterm*color15: rgb:fc/fc/fc
! Use the bold attribute to make the text bright, like it did in DOS, by
! disabling boldMode
xterm*boldMode: false
! Sometimes this isnt enough and you still get unreadable text. You can work
! around it by setting xterm*boldFont to the same value as xterm*font above.
! boldMode makes color+bold = lightcolor, but bold foreground (color7) stays
! color7. As in, bold now has no effect on uncolored text.
! I want lightgray+bold = white, so I add:
xterm*colorBDMode: true
xterm*colorBD: rgb:fc/fc/fc
! ^^ From https://unix4lyfe.org/xterm/



! Hybrid Terminal Colours. Uses the palette from Tomorrow-Night:
!
! https://github.com/chriskempson/tomorrow-theme/blob/master/vim/colors/Tomorrow-Night.vim
! vim: ft=xdefaults
!
*background: #1D1F21
*foreground: #C5C8C6
! black
*color0: #282A2E
*color8: #373B41
! red
*color1: #A54242
*color9: #CC6666
! green
*color2: #8C9440
*color10: #B5BD68
! yellow
*color3: #DE935F
*color11: #F0C674
! blue
*color4: #5F819D
*color12: #81A2BE
! magenta
*color5: #85678F
*color13: #B294BB
! cyan
*color6: #5E8D87
*color14: #8ABEB7
! white
*color7: #707880
*color15: #C5C8C6

! -- NOTES --
! Run, to reload:
!   xrdb -merge ~/.Xresources




